.body{
    width: calc(100vw - 17px);
    height: 150vh;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    top: 100px;
    padding: 0px 150px 0px 150px;

    & a{
        text-decoration: none;
        color: white;
    }
}
.fstSection{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 120px;
    justify-content: space-between;
}
.infoFstContainer{
    position: relative;

    width: 800px;
}
.Slogan{
    font-family: 'Inter Variable', sans-serif;
    font-weight: 600;
    font-size: 59px;
    width: 790px;

    & span{
        color: #f58c40;
    }
}

.msjSlogan{
    margin-top:20px;
    width: 500px;

}
.bntsContainer{
    margin-top: 70px;

    & .btnComenzar{
        background-color: #f58c40;
        width: 150px;
        padding: 12px;
        border: none;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
}